<div class="contact">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">Email (*):</label>
      <input type="email" class="form-control" formControlName="email" />
      <div
        *ngIf="
          form.get('email')?.hasError('required') && form.get('email')?.touched
        "
        class="text-danger"
      >
        El campo de correo electrónico es obligatorio.
      </div>
      <div
        *ngIf="
          form.get('email')?.hasError('email') && form.get('email')?.touched
        "
        class="text-danger"
      >
        Por favor, introduce un correo electrónico válido.
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Mensaje (*):</label>
      <textarea
        class="form-control"
        formControlName="message"
        rows="3"
      ></textarea>
      <div
        *ngIf="
          form.get('message')?.hasError('required') &&
          form.get('message')?.touched
        "
        class="text-danger"
      >
        El campo de mensaje es obligatorio.
      </div>
      <div
        *ngIf="
          form.get('message')?.hasError('minLength') &&
          form.get('message')?.touched
        "
        class="text-danger"
      >
        El mensaje debe tener al menos 50 caracteres.
      </div>
    </div>
    <button
      [disabled]="submit || !form.valid"
      type="submit"
      class="btn btn-light"
    >
      Enviar
    </button>

    <div
      *ngIf="success"
      class="alert alert-success alert-dismissible fade show"
      role="alert"
    >
      El formulario ha sido enviado correctamente.
    </div>

    <div
      *ngIf="error"
      class="alert alert-danger alert-dismissible fade show"
      role="alert"
    >
      <p>
        Ha ocurrido un error enviando el formulario. Por favor, contacte con:<br />
        <b>franferrerrodriguez&#64;gmail.com</b>
      </p>
    </div>
  </form>
</div>
