<div class="contact">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label"
        >{{ "contact.email.label" | translate }} (*):</label
      >
      <input type="email" class="form-control" formControlName="email" />
      <div
        *ngIf="
          form.get('email')?.hasError('required') && form.get('email')?.touched
        "
        class="text-danger"
      >
        {{ "contact.email.validations.required" | translate }}
      </div>
      <div
        *ngIf="
          form.get('email')?.hasError('email') && form.get('email')?.touched
        "
        class="text-danger"
      >
        {{ "contact.email.validations.format" | translate }}
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">
        {{ "contact.message.label" | translate }} (*):</label
      >
      <textarea
        class="form-control"
        formControlName="message"
        rows="3"
      ></textarea>
      <div
        *ngIf="
          form.get('message')?.hasError('required') &&
          form.get('message')?.touched
        "
        class="text-danger"
      >
        {{ "contact.message.validations.required" | translate }}
      </div>
      <div
        *ngIf="
          form.get('message')?.hasError('minLength') &&
          form.get('message')?.touched
        "
        class="text-danger"
      >
        {{ "contact.message.validations.minLength" | translate }}
      </div>
    </div>
    <button
      [disabled]="submit || !form.valid"
      type="submit"
      class="btn btn-light"
    >
      {{ "contact.send.label" | translate }}
    </button>

    <div
      *ngIf="success"
      class="alert alert-success alert-dismissible fade show"
      role="alert"
    >
      {{ "contact.ok" | translate }}
    </div>

    <div
      *ngIf="error"
      class="alert alert-danger alert-dismissible fade show"
      role="alert"
    >
      <p>
        {{ "contact.ko" | translate }}<br />
        <b> {{ "common.emails" | translate }}</b>
      </p>
    </div>
  </form>
</div>
